In [1]:
#importing libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import math
from linear_regression import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from create_final_df import CreateDataframe
from polynomial_regression import PolynomialRegression

In [2]:
lr = LinearRegression()
df = CreateDataframe()
confirmed_df = df.get_final_df('Confirmed')
deaths_df = df.get_final_df('Deaths')
recovered_df = df.get_final_df('Recovered')
confirmed_df.head(110)

,Days,Date,Georgia,North Carolina,Wyoming,New Hampshire,Wisconsin,Minnesota,Maryland,Pennsylvania,...,Idaho,Oregon,Iowa,Vermont,West Virginia,Kansas,New Jersey,Washington,Missouri,Rhode Island
0,1,04-12,12452,4570,270,929,3341,1621,8225,22938,...,1407,1527,1587,727,593,1344,61850,10609,4269,2665
1,2,04-13,13315,4886,275,985,3428,1621,8936,24292,...,1426,1584,1710,748,611,1390,64584,10635,4515,2665
2,3,04-14,14578,5113,282,922,3555,1695,9472,25465,...,1464,1633,1899,752,640,1441,68824,10799,4746,3251
3,4,04-15,14987,5340,287,1139,3721,1809,10032,26753,...,1473,1663,1995,759,702,1504,71030,10942,4791,3251
4,5,04-16,15669,5639,296,1139,3875,1809,10784,28258,...,1587,1736,2141,774,728,1615,75317,11057,5174,3529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,106,07-26,167953,112937,2475,6436,48827,51153,83748,111745,...,18178,16758,42357,1400,5889,25290,179363,52635,42160,18224
106,107,07-27,170843,114916,2520,6441,49417,51803,84876,112995,...,18692,17088,42696,1402,5999,25804,179812,53321,43489,18515
107,108,07-28,175052,116700,2589,6500,50179,52281,85524,114083,...,19220,17408,42928,1405,6120,26058,180295,54205,45181,18725
108,109,07-29,178323,118387,2628,6513,51049,52947,86285,114939,...,19674,17721,43623,1406,6277,26591,180600,54985,46942,18800
109,110,07-30,182286,120532,2686,6544,52108,53692,87177,115807,...,20242,18131,44285,1407,6375,26885,180970,55803,49139,18950

In [3]:
#Create a dictionary of DF
confirmed_states_df = {}
training_days = np.array(confirmed_df["Days"][:30,]).reshape(-1, 1)
# print(training_days)
for column in confirmed_df: 
    if column != 'Days' and column != 'Date':
       confirmed_states_df[column] = confirmed_df[column]    
# # for state in confirmed_states_df:
# print(confirmed_states_df['Georgia'].values)
# scalar = StandardScaler()
# x = scalar.fit_transform(confirmed_states_df[state].values)
# print(x)

In [4]:
# creating list to store PR(degree=2) objects of states     
confirmed_states_model_list = [] 
for state_name, state_df in confirmed_states_df.items():
#     print(state_df[:30])
#     print(state_name)
#     print(state_df)
    pr_degree_2 = PolynomialRegression(3, state_name)
    pr_degree_2.train(training_days, state_df[:30])
    confirmed_states_model_list.append(pr_degree_2)

In [5]:
#PR Degree 2 predicitions, store prediciton fo each state in a dict
confirmed_states_pred_dict = {} 
period = 100
# print(period)
upcoming_days = 10
days = np.array(range(period, period + upcoming_days)).reshape(-1, 1)
for model in confirmed_states_model_list:
    confirmed_states_pred_dict[model.state_name] = model.get_predictions(days)

100

In [11]:
#Just testing California
print("The prediction in Georgia July 21st till July 30st are: ")
# print(np.reshape(confirmed_df['Georgia'][30:40],(10,1)))
# print(confirmed_df['Georgia'][30:40].shape)
ground_truth = np.array(confirmed_df["Georgia"][100:110,]).reshape(-1,)
prediction = confirmed_states_pred_dict['Georgia']

for i in range(len(prediction)):
    print('prediction for date: July ' + str(i + 21), prediction[i])
print(ground_truth)
# print(lr.compute_mse(prediction,ground_truth))
print('mean squared error:', metrics.mean_squared_error(ground_truth, prediction, squared=False))

The prediction in Georgia July 21st till July 30st are:
prediction for date: July 21 147978
prediction for date: July 22 151314
prediction for date: July 23 154721
prediction for date: July 24 158199
prediction for date: July 25 161749
prediction for date: July 26 165372
prediction for date: July 27 169068
prediction for date: July 28 172839
prediction for date: July 29 176686
prediction for date: July 30 180610
[148988 152302 156607 161420 165188 167953 170843 175052 178323 182286]
mean squared error: 2189.8196729411306