In [3]:
#importing libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from create_final_df import CreateDataframe
from polynomial_regression import PolynomialRegression

In [4]:
df = CreateDataframe()
confirmed_df = df.get_final_df('Confirmed')
deaths_df = df.get_final_df('Deaths')
recovered_df = df.get_final_df('Recovered')
confirmed_df

,Days,Date,Georgia,North Carolina,Wyoming,New Hampshire,Wisconsin,Minnesota,Maryland,Pennsylvania,...,Idaho,Oregon,Iowa,Vermont,West Virginia,Kansas,New Jersey,Washington,Missouri,Rhode Island
0,1,04-12,12452,4570,270,929,3341,1621,8225,22938,...,1407,1527,1587,727,593,1344,61850,10609,4269,2665
1,2,04-13,13315,4886,275,985,3428,1621,8936,24292,...,1426,1584,1710,748,611,1390,64584,10635,4515,2665
2,3,04-14,14578,5113,282,922,3555,1695,9472,25465,...,1464,1633,1899,752,640,1441,68824,10799,4746,3251
3,4,04-15,14987,5340,287,1139,3721,1809,10032,26753,...,1473,1663,1995,759,702,1504,71030,10942,4791,3251
4,5,04-16,15669,5639,296,1139,3875,1809,10784,28258,...,1587,1736,2141,774,728,1615,75317,11057,5174,3529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,138,08-27,263074,161076,3733,7194,73138,72390,106063,135912,...,31113,25761,61488,1586,9633,40360,190613,72703,80214,21589
138,139,08-28,265372,162491,3803,7216,73981,73240,106664,136781,...,31376,26054,62828,1589,9826,41050,190971,73301,81672,21683
139,140,08-29,267758,165076,3795,7246,74800,74257,107294,137576,...,31668,26293,63612,1605,9970,41595,191320,73879,83168,21683
140,141,08-30,268973,166127,3829,7254,75337,75189,107791,138134,...,31858,26554,64599,1616,10109,41761,191611,74320,84474,21683
141,142,08-31,270471,167309,3850,7275,75603,75864,108249,138795,...,32081,26713,65139,1624,10249,42599,191960,74635,85635,21949

In [5]:
#Create a dictionary of DF
confirmed_states_df = {}
training_days = np.array(confirmed_df["Days"]).reshape(-1, 1)
for column in confirmed_df: 
    if column != 'Days' and column != 'Date':
       confirmed_states_df[column] = confirmed_df[column]

In [8]:
# creating list to store PR(degree=2) objects of states     
confirmed_states_model_list = [] 
for state_name, state_df in confirmed_states_df.items():
    pr_degree_2 = PolynomialRegression(2, state_name)
    pr_degree_2.train(training_days, state_df)
    confirmed_states_model_list.append(pr_degree_2)

In [13]:
#PR Degree 2 predicitions, store prediciton fo each state in a dict
confirmed_states_pred_dict = {} 
period = len(training_days)
upcoming_days = 26
days = np.array(range(period, period + upcoming_days)).reshape(-1, 1)
for model in confirmed_states_model_list:
    confirmed_states_pred_dict[model.state_name] = model.get_predictions(days)

In [14]:
#Just testing California
print("The prediction in California Sep 1st till 26th are: ")
for i in range(26):
        print("09/" + str(i + 1) + "/2020: " + str(confirmed_states_pred_dict['California'][i]))

The prediction in California Sep 1st till 26th are:
09/1/2020: 763519
09/2/2020: 774251
09/3/2020: 785063
09/4/2020: 795953
09/5/2020: 806921
09/6/2020: 817968
09/7/2020: 829093
09/8/2020: 840297
09/9/2020: 851580
09/10/2020: 862941
09/11/2020: 874380
09/12/2020: 885898
09/13/2020: 897495
09/14/2020: 909170
09/15/2020: 920924
09/16/2020: 932756
09/17/2020: 944666
09/18/2020: 956656
09/19/2020: 968723
09/20/2020: 980869
09/21/2020: 993094
09/22/2020: 1005398
09/23/2020: 1017779
09/24/2020: 1030240
09/25/2020: 1042779
09/26/2020: 1055396